/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
    };

    behaviors {
        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&mt GRAVE ESCAPE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3        &kp NUMBER_4  &kp N5                               &kp NUMBER_6   &kp N7  &kp N8      &kp N9   &kp N0    &kp EQUAL
&kp TAB           &kp Q         &kp W         &kp E               &kp R         &kp T                                &kp Y          &kp U   &kp I       &kp O    &kp P     &kp MINUS
&kp LEFT_SHIFT    &kp A         &kp S         &kp D               &kp F         &kp G                                &kp H          &kp J   &kp K       &kp L    &kp SEMI  &kp SQT
&kp LCTRL         &kp Z         &kp X         &kp C               &kp V         &kp B         &kp LBKT     &kp RBKT  &kp N          &kp M   &kp COMMA   &kp DOT  &kp FSLH  &kp LEFT_WIN
                                              &kp LA(LEFT_SHIFT)  &mo 1         &kp LEFT_ALT  &kp SPACE    &kp RET   &kp BACKSPACE  &mo 1   &kp DELETE
            >;
        };

        movement-layer-left-button {
            bindings = <
&kp ESC     &none  &none           &kp PG_UP       &none            &kp LS(LG(S))                          &kp F1         &kp F2         &kp F3      &kp F4        &kp F5         &kp F6
&kp TAB     &none  &kp BACKSPACE   &kp UP_ARROW    &kp DELETE       &kp PAGE_UP                            &kp F7         &kp F8         &kp F9      &kp F10       &kp F11        &kp F12
&kp LSHIFT  &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp PAGE_DOWN                          &none          &kp C_VOL_DN   &kp C_MUTE  &kp C_VOL_UP  &none          &none
&kp LCTRL   &none  &kp HOME        &kp PAGE_DOWN   &kp END          &none          &none        &none      &kp COLON      &kp BACKSLASH  &kp PIPE    &kp SLASH     &kp SEMICOLON  &none
                                   &none           &trans           &kp LEFT_ALT   &kp SPACE    &kp ENTER  &kp BACKSPACE  &trans         &kp DELETE
            >;
        };
    };
};
